target/META-INF/mule-src/firstproject/src/main/mule/firstproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="665ca3b9-11f2-4d6c-b943-9209d1de21a3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstprojectFlow" doc:id="9690ec5c-5d62-4c65-9320-4241e9938f05" >
		<http:listener doc:name="Listener" doc:id="cf4403bf-8a52-4462-bf4c-9ef498fda650" config-ref="HTTP_Listener_config" path="/welcome"/>
		<logger level="INFO" doc:name="Logger" doc:id="eb133f1d-5063-4e78-a7e0-9eadad97e361" message="Welcome to Acquia"/>
		<set-payload value='#["Welcome to Acquia"]' doc:name="Set Payload" doc:id="377b4dbf-15b6-49bc-b956-5847acacd034" />
	</flow>
</mule>
